<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.hyunseong.signalapp.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.hyunseong.signalapp</string>
			</array>
		</dict>
	</array>
	<key>SignalAppGroupIdentifier</key>
	<string>group.com.hs.SignalApp</string>
	<key>SignalHostApplicationBundleIdentifier</key>
	<string>com.hyunseong.SignalApp</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
